<template name="schoolSetup">
  <div class="setup">
    <center>
      <h1>Mon école</h1>
    </center>

    <div class="form-container container">
      <select class="form-control" id="schools" placeholder="Ecole...">
        <option value="">Ecole...</option>
        {{#each schools}}
          <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>

      <br/>

      <select class="form-control" id="specialities" placeholder="Spécialité...">
      </select>
    </div>

    <br/>

    <div class="setup__button">
      <!--<a href="/" class="btn prev pull-left">&lt; Précédent</a>-->
      <a href="/ma-recherche" class="btn btn-all pull-right">Suivant</a>
    </div>

  </div>
</template>

<template name="team">
  <h4><i>{{name}}</i></h4>
</template>
