<template name="searchSetup">
<div class="setup">
  <center>
    <div class="container">
      <h1>Mes critères de recherche</h1>
      <br />
    </div>

    <div class="form-container container">
      <form class="form">
        <label for="year" class="control-label input-group">
          Date de début
        </label>

        <div class="btn-group" data-toggle="buttons" style="margin: 0 auto;text-align: center;">

          <label class="btn btn-default btn-half pull-left">
            <input name="year" value="2011" type="radio">Dès que possible
          </label>
          <label class="btn btn-default btn-half pull-right active">
            <input name="year" value="2012" type="radio" class="active">Dans une semaine
          </label>
          <br/>
          <label class="btn btn-default btn-half pull-left">
            <input name="year" value="2013" type="radio">Dans un mois
          </label>
          <label class="btn btn-default btn-half pull-right">
            <input name="year" value="2011" type="radio">Plus tard
          </label>
        </div>
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      </form>
    </div>

    <br/>

    <div class="form-container container clear">
      <form class="form">
        <label for="year" class="control-label input-group">
          Durée du stage
        </label>

        <div class="btn-group" data-toggle="buttons" style="margin: 0 auto;text-align: center;">

          <label class="btn btn-default btn-half pull-left">
            <input name="year" value="2011" type="radio">1 à 2 mois
          </label>
          <label class="btn btn-default btn-half pull-right active">
            <input name="year" value="2012" type="radio" class="active">3 à 4 mois
          </label>
          <br/>
          <label class="btn btn-default btn-half pull-left">
            <input name="year" value="2013" type="radio">5 à 6 mois
          </label>
          <label class="btn btn-default btn-half pull-right">
            <input name="year" value="2011" type="radio">Plus de 6 mois
          </label>
        </div>
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      </form>
    </div>

    <br/>

    <div class="form-container container clear">
      <form class="form">
        <label for="year" class="control-label input-group">
          Ville
        </label>

        <div class="btn-group" data-toggle="buttons" style="margin: 0 auto;text-align: center;">

          <label class="btn btn-default btn-half pull-left">
            <input name="year" value="2011" type="radio">Peu importe
          </label>
          <label class="btn btn-default btn-half pull-right active">
            <input name="year" value="2012" type="radio" class="active">Paris
          </label>
          <br/>
          <label class="btn btn-default btn-half pull-left">
            <input name="year" value="2013" type="radio">Lyon
          </label>
          <label class="btn btn-default btn-half pull-right">
            <input name="year" value="2011" type="radio">A l'étranger
          </label>
        </div>
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      </form>
    </div>
  </center>

  <br/>

  <div class="setup__button">
    <a href="/mon-ecole" class="btn btn-prev btn-half pull-left">Précédent</a>
    <a href="/mes-tags" class="btn btn-next btn-half pull-right">Suivant</a>
  </div>
</div>
</template>
