<template name="tagsSetup">
  <div class="setup">
    <center>
      <h1>Ma formation et compétences</h1>
      <p>Un autre blabla</p>
    </center>

    <div class="form-container container">
      <select id="tags" name="tags" multiple="multiple" class="demo-default selectized"
              style="margin: 0 auto;max-width: 600px;" placeholder="tag...">

        {{#each tags}}
          <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
    </div>

    <br/>

    <div class="setup__button">
      <a href="/mon-ecole" class="btn btn-prev btn-half pull-left">Précédent</a>
      <a href="/mon-alerte-offre" class="btn btn-next btn-half pull-right">Suivant</a>
    </div>
  </div>
</template>
