<template name="tagsSetup">
  <div class="setup">
    <center class="container">
      <h1>Tags</h1>
      <p>Voici une liste de tags pré-remplie basée sur votre profil. Complétez-le avec vos propres tags.</p>
    </center>
  </div>

  <div class="form-container">
    <select id="tags" name="tags" multiple="multiple" class="demo-default selectized"
            style="margin: 0 auto;max-width: 600px;" placeholder="tag...">

      <option value="ingénieur" selected="selected">ingénieur</option>
      <option value="3d" selected="selected">3d</option>
      <option value="web" selected="selected">web</option>
      <option value="développement" selected="selected">développement</option>
      <option value="ux" selected="selected">ux</option>
      <option value="design" selected="selected">design</option>
      <option value="réalité virtuelle" selected="selected">réalité virtuelle</option>
      <option value="interface" selected="selected">interface</option>
      <option value="ergonomie" selected="selected">ergonomie</option>
      <option value="c++" selected="selected">c++</option>
      <option value="openGL" selected="selected">openGL</option>
      <option value="2d" selected="selected">2d</option>
      {{#each tags}}
        <option value="{{name}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <br/>

  <div class="col-md-12 text-center">
    <a href="/ma-recherche" class="btn prev">&lt; Précédent</a>
    <a href="/mon-alerte-offre" class="btn btn-primary next">Suivant ></a>
  </div>
</template>