<template name="jobSmall">
    <div class="jobSmall {{#if featured}}featured{{/if}} panel panel-default">
        <div class="panel-body job-offers__list">

          <div class="job-offers__pourcent">
            {{percent}}%
          </div>

          <div class="row">
              <div class="col-xs-9">
                  <a href="{{pathFor 'job'}}" class="job-offers__title">
                    {{title}}
            			</a>
              </div>
          </div>
          <div class="job-offers__subtitle">
            <div>
              <i class="fa fa-calendar"></i>
                {{randomDay}}/04/2016
              <!--{{formatDate createdAt}}-->
                  {{!-- {{#if featured}} - Featured Until {{formatDate featuredThrough}}{{/if}}
                   --}}
            </div>

            {{#if company}}
            <div>
              <i class="fa fa-building"></i> {{company}}
            </div>
            {{/if}}

            {{#if location}}
            <div>
              <i class="fa fa-map-marker"></i> {{location}}
            </div>
            {{/if}}
          </div>

        </div>
    </div>
</template>
